<div class="main-content">
  <h1 align="center">BTC News Scraper</h1>
    <div id="news">
      <ul id="reports">
        {{#each reports}}
          <li>{{this.title}}<br /><a href="{{this.link}}">Read more</a></li>
        {{/each}}
      </ul>
    </div>
</div>
