.boombox {
    background-image: url("../img/btcBackground.jpg");
    background-repeat: no-repeat;
    height: 45vh;
    background-size: cover;
    background-position: center center;
    margin: 0;
    text-shadow: 7px 7px 10px rgba(255, 255, 255, .25);
    font-size: 1.2em;
    font-weight: bold;
}

#news-btn{
  background-color: rgba(0, 50, 200, .15);
  color: white;
  border: solid 2px white;
  font-weight: bolder;
  margin: auto;
}

#reports li{
  margin: 10px 0px;
}

/* label color */
#send-note {
 color: navy;
}
/* label focus color */
#send-note input[type=text]:focus + label {
  font-weight: bold;
  color: navy;
  text-shadow: 3px 3px 5px rgba(20, 5, 130, .25);
}
/* label underline focus color */
#send-note input[type=text]:focus {
 border-bottom: 1px solid orange;
 box-shadow: 0 1px 0 0 #EE600F;
}
