.boombox {
    background-image: url("../img/btcBackground.jpg");
    background-repeat: no-repeat;
    height: 45vh;
    background-size: cover;
    background-position: center center;
    margin: 0;
    text-shadow: 7px 7px 12px #9ff;
    font-size: 1.2em;
    font-weight: bold;
}

#news-btn{
  background-color: rgba(0, 50, 200, .15);
  color: white;
  border: solid 2px white;
  font-weight: bolder;
  margin: auto;
}

#reports li{
  margin: 10px 0px;
}
